<!DOCTYPE html>
<head>
    <title>Stajyer Kayıt</title>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/navbar-top-fixed/">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Domine&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


    <style>
        html, body{
            background-color: #fbeaeb;
        }

        h2{
            font-family: 'Domine', serif;
            font-weight: bold;
            font-size: 40px;
            color: #2f3c7e;
            margin-bottom: 5%;
            margin-top: 8%;
        }

        .form-group{
            font-family: "Domine", serif;
            font-size: 15px;
        }
        .form-control {
            border: 2px solid #2f3c7e;
            border-radius: 5px;
            height: 45px;
        }
        small{
            opacity: 0.5;
        }

        .form-group{
            margin-bottom: 3%;
        }
        .row{
            margin-bottom: 3%;
        }
        #bio_area{
            border: 2px solid #2f3c7e;
            border-radius: 5px ;
            resize: none;
            width: 100%;
            color: rgba(0, 0, 0, 0.7);
        }
         #bio_area:focus{
            outline-color: #00a6ed;
            outline-width: thick;
         }
        .selection{
            width: 100%;
            height: 45px;
            background-color: white;
            border: 2px solid #2f3c7e;
            border-radius: 5px ;
        }
        .selection:focus{
            outline: none;
        }

        label{
            font-weight: bold;
            color: #2f3c7e;
            font-size: 20px;
        }
        .password{
            width: 100%;
            height: 45px;
            border: 2px solid #2f3c7e;
            border-radius: 5px;
        }
        .password:focus{
            outline-color: #00a6ed;
            outline-width: thick;
        }

        #buttons{
            background-color: #fbeaeb;
            border-color: #2f3c7e;
            color: #2f3c7e;
            margin-top: 3%;
            margin-bottom: 7%;
        }
        #buttons:hover{
            background-color: #eda593;
            border-color: #2f3c7e;
        }

        input{
            padding: 5px;
        }

        select{
            padding: 5px;
        }
        textarea{
            padding: 5px;
        }
                .custom-combobox {
            position: relative;
            display: inline-block;
            width: 100%;
            align-content: left;

        }
        .custom-combobox-toggle {
          position: absolute;
          top: 0;
          bottom: 0;
          margin-left: -1px;
          padding: 0;
          background-color: white;
          width: 10px;

        }
        .custom-combobox-input {
          margin: 0;
          padding: 5px 10px;
          width: 99%;
          height: 45px;
          border-radius: 5px;
        outline-color: #ae0700;
          background-color: white;
          border: 10px solid #2f3c7e;
          font-family: "Domine", serif;
        }


        .ui-widget {
          text-align: left;
          font-family: "Domine", Serif;
        }


        .ui-widget:focus {
          outline-color: #00a6ed;
        }

    </style>

</head>


<body>
        <h2><center>Çalışan Kayıt</center></h2>
        <br>
        <br>
        <form method ="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{message.tags}}"  role="alert" id="messages" >
                        <center><i class="fas fa-exclamation">  {{ message }} </i></center>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="form-group">
                <label>Kullanıcı Adı</label>
                <input type="text" id="username" name="username" class="form-control input-sm" autocomplete="off" required>
                <small>Kullanıcı adınız 150 karakterden az ve size özel olmalıdır. Sadece harf, rakam ve @/./+/-/_ sembollerini içerebilir.</small>
            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <label>Ad</label>
                        <input type="text" id="first_name" name="first_name" class="form-control input-sm" autocomplete="off" required>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <label>Soyad</label>
                        <input type="text" id="last_name"  name="last_name" class="form-control input-sm" autocomplete="off" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>E-Mail</label>
                <input type="email" id="email" name="email" class="form-control input-sm" autocomplete="off" required>
            </div>

            <div class="form-group">
                <label>Hakkınızda</label>
                <textarea id="bio_area" name="bio" rows="5" maxlength="500" ></textarea>
                <small>Kendiniz hakkında 500 karakter ile sınırlı bir bilgilendirme yazısı yazabilirsiniz.</small>
            </div>

            <div class="form-group">
                <label>Şehir</label>
                <select class="selection" name="city" required>
                    <option value="Adana">Adana</option>
                    <option value="Adıyaman">Adıyaman</option>
                    <option value="Afyonkarahisar">Afyonkarahisar</option>
                    <option value="Ağrı">Ağrı</option>
                    <option value="Amasya">Amasya</option>
                    <option value="Ankara">Ankara</option>
                    <option value="Antalya">Antalya</option>
                    <option value="Artvin">Artvin</option>
                    <option value="Aydın">Aydın</option>
                    <option value="Balıkesir">Balıkesir</option>
                    <option value="Bilecik">Bilecik</option>
                    <option value="Bingöl">Bingöl</option>
                    <option value="Bitlis">Bitlis</option>
                    <option value="Bolu">Bolu</option>
                    <option value="Burdur">Burdur</option>
                    <option value="Bursa">Bursa</option>
                    <option value="Çanakkale">Çanakkale</option>
                    <option value="Çankırı">Çankırı</option>
                    <option value="Çorum">Çorum</option>
                    <option value="Denizli">Denizli</option>
                    <option value="Diyarbakır">Diyarbakır</option>
                    <option value="Edirne">Edirne</option>
                    <option value="Elazığ">Elazığ</option>
                    <option value="Erzincan">Erzincan</option>
                    <option value="Erzurum">Erzurum</option>
                    <option value="Eskişehir">Eskişehir</option>
                    <option value="Gaziantep">Gaziantep</option>
                    <option value="Giresun">Giresun</option>
                    <option value="Gümüşhane">Gümüşhane</option>
                    <option value="Hakkâri">Hakkâri</option>
                    <option value="Hatay">Hatay</option>
                    <option value="Isparta">Isparta</option>
                    <option value="Mersin">Mersin</option>
                    <option value="İstanbul">İstanbul</option>
                    <option value="İzmir">İzmir</option>
                    <option value="Kars">Kars</option>
                    <option value="Kastamonu">Kastamonu</option>
                    <option value="Kayseri">Kayseri</option>
                    <option value="Kırklareli">Kırklareli</option>
                    <option value="Kırşehir">Kırşehir</option>
                    <option value="Kocaeli">Kocaeli</option>
                    <option value="Konya">Konya</option>
                    <option value="Kütahya">Kütahya</option>
                    <option value="Malatya">Malatya</option>
                    <option value="Manisa">Manisa</option>
                    <option value="Kahramanmaraş">Kahramanmaraş</option>
                    <option value="Mardin">Mardin</option>
                    <option value="Muğla">Muğla</option>
                    <option value="Muş">Muş</option>
                    <option value="Nevşehir">Nevşehir</option>
                    <option value="Niğde">Niğde</option>
                    <option value="Ordu">Ordu</option>
                    <option value="Rize">Rize</option>
                    <option value="Sakarya">Sakarya</option>
                    <option value="Samsun">Samsun</option>
                    <option value="Siirt">Siirt</option>
                    <option value="Sinop">Sinop</option>
                    <option value="Sivas">Sivas</option>
                    <option value="Tekirdağ">Tekirdağ</option>
                    <option value="Tokat">Tokat</option>
                    <option value="Trabzon">Trabzon</option>
                    <option value="Tunceli">Tunceli</option>
                    <option value="Şanlıurfa">Şanlıurfa</option>
                    <option value="Uşak">Uşak</option>
                    <option value="Van">Van</option>
                    <option value="Yozgat">Yozgat</option>
                    <option value="Zonguldak">Zonguldak</option>
                    <option value="Aksaray">Aksaray</option>
                    <option value="Bayburt">Bayburt</option>
                    <option value="Karaman">Karaman</option>
                    <option value="Kırıkkale">Kırıkkale</option>
                    <option value="Batman">Batman</option>
                    <option value="Şırnak">Şırnak</option>
                    <option value="Bartın">Bartın</option>
                    <option value="Ardahan">Ardahan</option>
                    <option value="Iğdır">Iğdır</option>
                    <option value="Yalova">Yalova</option>
                    <option value="Karabük">Karabük</option>
                    <option value="Kilis">Kilis</option>
                    <option value="Osmaniye">Osmaniye</option>
                    <option value="Düzce">Düzce</option>
                </select>
            </div>


            <div class="form-group">
                  <label>Cinsiyet</label>
                  <select class="selection" id ="gender" name="gender" required>
                          <option selected="selected" value="Female">Kadın</option>
                          <option value="Male">Erkek</option>
                  </select>
            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                     <div class="form-group">
                        <label>Parola</label>
                        <input class="password" type="password" name="password1" autocomplete="off" required>
                     </div>

                </div>

                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <label>Parola Tekrarı</label>
                        <input class="password" type="password" name="password2" autocomplete="off" required>
                    </div>
                </div>
                 <small style="margin-left: 1%">Parolanız kişisel bilgilerinize benzememeli, en az 8 karakter olmalıdır. Ayrıca tamamiyle
                sayılardan oluşmamalı ve kolay tahmin edilebilir olmamalıdır.</small>
            </div>

        <!--
            <div class="form-group">
                  <label>Şirket</label>
                  <select class="selection" id ="company" name="company" required>
                          {% for company in all_companies %}
                              <option value="{{ company.id }}"> {{ company }}</option>
                          {% endfor %}
                  </select>
            </div>
-->
        <!--
            <div class="form-group">
                    <div class="ui-widget" >
                        <label>Şirket</label>
                        <select value="company" id="combobox" class="form-control input-sm" name="company" required>
                        {% for company in all_companies %}
                              <option value="{{ company.id }}"> {{ company }}</option>
                          {% endfor %}
                        </select>
                    </div>
            </div>
        -->

                    <div class="form-group">
            <label>Şirket</label>
                    <div class="ui-widget" >

                        <select value="company" id="combobox" class="form-control input-sm" name="company"  required>
                        {% for company in all_companies %}
                              <option value="{{ company.id }}"> {{ company }}</option>
                          {% endfor %}
                        </select>
                    </div>
            </div>


            <div class="form-group">
                <label>Şirket Parolası</label>
                <input class="password" type="password" name="company_password" autocomplete="off" required>
                <small>Bu Alanda Şirketiniz Tarafından Size Sağlanan Parolayı Girmeniz Gerekmektedir.</small>
            </div>



            <div class="form-group">
                <label>Profil Fotoğrafı</label><br>
                <input id="image" value="image" name="image" type="file">
            </div>

        <button id="buttons" type="submit" class="btn btn-success btn-lg float-right"><i class="fas fa-user-plus"></i> Kayıt Ol</button>
        <button id="buttons"  name="back" type="button" class= "btn btn-danger btn-lg" id="back" onclick="window.location.href = '/accounts/login';"><i class="fas fa-arrow-alt-circle-left"></i> Oturum Aç</button>



        </div>


        </form>

    <script>
         $('#messages').delay(3000).fadeOut('slow');
    </script>

    <script>
    $( function() {
      $.widget( "custom.combobox", {
        _create: function() {
          this.wrapper = $( "<span>" )
            .addClass( "custom-combobox" )
            .insertAfter( this.element );

          this.element.hide();
          this._createAutocomplete();
          this._createShowAllButton();
        },

        _createAutocomplete: function() {
          var selected = this.element.children( ":selected" ),
            value = selected.val() ? selected.text() : "";

          this.input = $( "<input>" )
            .appendTo( this.wrapper )
            .val( value )
            .attr( "title", "" )
            .addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
            .autocomplete({
              delay: 0,
              minLength: 0,
              source: $.proxy( this, "_source" )
            })
            .tooltip({
              classes: {
                "ui-tooltip": "ui-state-highlight"
              }
            });

          this._on( this.input, {
            autocompleteselect: function( event, ui ) {
              ui.item.option.selected = true;
              this._trigger( "select", event, {
                item: ui.item.option
              });
            },

            autocompletechange: "_removeIfInvalid"
          });
        },

        _createShowAllButton: function() {
          var input = this.input,
            wasOpen = false;

          $( "<a>" )
            .attr( "tabIndex", -1 )
            .attr( "title", "" )
            .tooltip()
            .appendTo( this.wrapper )
            .button({
              icons: {
                primary: "ui-icon-triangle-1-s"
              },
              text: false
            })
            .removeClass( "ui-corner-all" )
            .addClass( "custom-combobox-toggle ui-corner-right" )
            .on( "mousedown", function() {
              wasOpen = input.autocomplete( "widget" ).is( ":visible" );
            })
            .on( "click", function() {
              input.trigger( "focus" );

              // Close if already visible
              if ( wasOpen ) {
                return;
              }

              // Pass empty string as value to search for, displaying all results
              input.autocomplete( "search", "" );
            });
        },

        _source: function( request, response ) {
          var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
          response( this.element.children( "option" ).map(function() {
            var text = $( this ).text();
            if ( this.value && ( !request.term || matcher.test(text) ) )
              return {
                label: text,
                value: text,
                option: this
              };
          }) );
        },

        _removeIfInvalid: function( event, ui ) {

          // Selected an item, nothing to do
          if ( ui.item ) {
            return;
          }

          // Search for a match (case-insensitive)
          var value = this.input.val(),
            valueLowerCase = value.toLowerCase(),
            valid = false;
          this.element.children( "option" ).each(function() {
            if ( $( this ).text().toLowerCase() === valueLowerCase ) {
              this.selected = valid = true;
              return false;
            }
          });

          // Found a match, nothing to do
          if ( valid ) {
            return;
          }

          // Remove invalid value
          this.input
            .val( "" )
            .attr( "title", value + " Aramanızla Eşleşen Öge Yok." )
            .tooltip( "open" );
          this.element.val( "" );
          this._delay(function() {
            this.input.tooltip( "close" ).attr( "title", "" );
          }, 2500 );
          this.input.autocomplete( "instance" ).term = "";
        },

        _destroy: function() {
          this.wrapper.remove();
          this.element.show();
        }
      });

      $( "#combobox" ).combobox();
      $( "#toggle" ).on( "click", function() {
        $( "#combobox" ).toggle();
      });
    } );
  </script>


</body>


</html>